<div id="<%= dom_id student %>">
  <p>
    <strong>Student_Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Student_Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong>Student_Idno:</strong>
    <%= student.IDno %>
  </p>

  <p>
  <strong>Student_Track:</strong>
  <%= student.track.name %>
  </p>

</div>
